* {
    margin: 20;
    /*Add fonts styles later*/
}

body {
    background-color: rgb(13, 36, 46);
}

/*Class Headers*/

.headTitle{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 69px;
    color: white;
}

.gap{
    font-size: 69px;
}

.contents{
    text-align: center;
    /* font-weight: bold;
    font-style: italic; */
    font-size: 23px;
    color: white;
}

.contents th{
    text-align: center;
    /* font-weight: bold;
    font-style: italic; */
    font-size: 42px;
    color: white;
}