<!DOCTYPE html>
<html>

<head>
    <title>Dumb Solutions</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="gap">
        <br>
    </div>

    <div class = headTitle>
        Dumb Solutions
    </div>

    <br>

    <div class = semTitle>
        <a href="">Semester Name</a>
    </div>

    <div class="gap">
        <br>
    </div>

    <div class="contents">
        <table align="center" cellpaddings="10">
            <tr>
                <th>Question No.</th>
                <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                <th>Question Initials</th>
                <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                <th>Same As</th>
            </tr>

            <tr>
                <td>&nbsp</td>
            </tr>
            

            <!-- Copy this for every new page -->
            <tr>
                <td><a href="">Question Name</a></td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                <td><a href="">Question Details</a></td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <th>&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                <td>
                    <ul>
                        <li><a href="">Similar 1</a></li>
                        <li><a href="">Similar 2</a></li>
                        <li><a href="">Similar 3</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    
</body>
</html>